.carousel {
      width: auto;
      height: 30vw;
      margin: 0 auto; 
      border-radius: 0px;
}
.carouselBox{
      margin: 0px 0.5vw;
}
.carouselImage{
      margin: 0;
      width: 100vw;
      height: 30vw;
      border-radius: 5px;
}
.carouselmt{
      padding: 0px;
      margin: 0px;
}

@media screen and (max-width: 576px) {
      .carouselHeading{
            font-size: 0.7rem;
      }
}
  
    